.stop-watch{
	height: 60vh;
	width: 40vw;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-between; */
	border: 2px solid rgb(0, 179, 255);
	border-block-start-color: rgb(15, 158, 219);
	border-block-end-color:rgb(0, 179, 255);
	border-top-width: 45px;
	border-bottom-width: 45px;
	border-radius: 25px;
	
}
p{
	font-size:3rem;
	font-weight: bold;
}

.timer{
	margin-bottom: 5rem;
	margin-top: 1rem;
	width: 100%;
	display: flex;
	height: 12%;
	justify-content: center;
	align-items: center;
}

.digits{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 3rem;
	color: #000000;
}

pre.Control-Buttons {
    margin: 3rem 0;
    width: 100%;
    box-sizing: border-box;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.btn-grp {
    align-items: center;
    justify-content: space-around;
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 6vw;
    height: 5vh;
    display:inline-block;
    margin: 0px 8px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
}